
.widget-sidebar {
    background-color: #fff;
}


.recent-post{width: 100%;height: 80px;list-style-type: none;}
.post-img img {
    float: left;
    margin-right: 15px;
    transition: 0.5s;
    margin-left: -30px;
}



/*Newsletter #FF3636*/
.home-newsletter {
padding: 80px 0;
background: #9f81f7;
width: 100%;
padding: 20px;
}

.home-newsletter .single {
max-width: 100%;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; width: 100%;}

.home-newsletter .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; 
width: 100%;
}

.home-newsletter .single .form-control {

height: 40px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; 
}



.home-newsletter .single .btn {
min-height: 40px; 
border-radius: 0 20px 20px 0;
background: #212121;
color: #fff;
}



/*icons*/
.wrp {
  text-align: center;
  height: 100%;
  width: 100%;
}
.wrp::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.icon {
  display: inline-block;
  font-size: 50px;
  line-height: 90px;
  height: 90px;
  width: 90px;
  margin-right: 20px;
  color: #4099ff;
  border-radius: 100%;
  position: relative;
}
.icon::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  background: rgba(0,0,0,0.1);
  z-index: -1;
}
.icon::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: #4099ff;
  border-radius: 100%;
  z-index: -1;
}
.icon:hover {
  animation-name: bubble2;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.icon:hover::after {
  animation-name: bubble;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.icon-twitter {
  color: #4099ff;
}
.icon-twitter::after {
  background: #4099ff;
}
.icon-facebook {
  color: #3b5998;
}
.icon-facebook::after {
  background: #3b5998;
}
.icon-instagram {
  color: #3f729b;
}
.icon-instagram::after {
  background: #3f729b;
}
.icon-gplus {
  color: #9f81f7;
}
.icon-gplus::after {
  background: #9f81f7;
}
